[Unit]
Description=bittorrent daemon via lokinet
Wants=lokinet.service
After=lokinet.service

[Service]
User=_btpd
ExecStart=/usr/bin/btpd --no-daemon -4 --empty-start
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
