[Desktop Entry]
Name=Lokinet btpd
Exec=/usr/bin/btpd -4
Terminal=false
Type=Application
Icon=/usr/share/icons/lokinetbtpd.png
Comment=Lokinet BitTorrent Daemon
Categories=Network;FileTransfer;P2P;GTK;
